body{
    background-color:rgb(32, 32, 32);
    width: 990px; margin: 0 auto;
}



/*----- INICIO -----*/



/*------- FLEX NAV ---------*/

    
    li:hover{
        opacity: 80%;
        background-color: red;
    }

    .logo{
        display: flex;
        flex-flow: row wrap;
        flex-grow: 0;
        padding: 0px 20px 0px 0px;
    }
    .nav > ul{
        display: flex;
        flex-flow: row wrap; /*flex-direction: row; flex-wrap: wrap; */
        justify-content: space-around;
        font-size: 20px;
        background-color: black;
        padding: 20px 20px;
        list-style-type: none;
    }
    .nav-item{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
    }
    .nav > ul > div > li {
    text-align: center;
    background-color: blue;
    justify-content: center;
    padding: 10px 0px;
    width: 150px;
    /*border-radius: 10px;*/
    }

    .nav > ul > div > li > a{
        text-decoration: none;
        color: white;
    }

/*------- FLEX NAV ---------*/

/*------- GRID ARTICLE ---------*/

main{
    background-color:black;
}
h2{
    text-align: center;
    color:white;
    padding:10px 0 0 0;
}

.sec-pri{grid-area:sec-pri}
.seccion1{grid-area: seccion1}
.seccion2{grid-area: seccion2}
.seccion3{grid-area: seccion3}
.seccion4{grid-area: seccion4}

.main-inicio > section{
    display: grid;
    grid-template-areas:
    'sec-pri sec-pri'
    'seccion1 seccion2'
    'seccion3 seccion4';
    gap: 10px;
    padding: 10px; 
}
.main-inicio > section > div {
    background-color: rgba(248, 248, 248, 0.8);
    padding: 10px 0;
    font-size: 20px;
    display: block;
    justify-content: center;
}
h3{
    text-align: center;
}
.main-inicio > section > div > img{
    width: 100%;
}

/*------- GRID ARTICLE ---------*/
footer{
    background-color: rgb(0, 0, 137);
    padding: 20px;
}
/*----- INICIO -----*/

/*----- GUIA -----*/

.main-guia > div > div > img{
    width: 100%;
}
.main-guia > div{
    color: white;
    display: flex;  
}

/*------- GRID ---------*/

.img{grid-area:img}
.descripcion{grid-area: descripcion}

.main-guia > div{
    display: grid;
    grid-template-areas:
    'img descripcion descripcion';
    gap: 10px;
    padding: 10px; 
}

/*------- GRID ---------*/

/*----- GUIA -----*/


/*----- CONTACTO -----*/
/*article{
    padding-top: 20px;
}*/

.main-contacto{
    background-color: rgb(0, 0, 103);
    border: solid;
    border-color: red;
}

.formulario{
    background-color: grey;
    position: relative;
    width: 400px; margin: 20px auto;
    border: solid;
    padding: 40px;
}
.c-formulario{

    border: solid 10px;
}
.f-elemento{
    width: 99%;
    margin: 10px 0;
    padding: 0;
    height: 30px;
    font-size: 18px;
}
#cometario{
    width: 99%;
    margin: 10px 0;
    padding: 0;
    font-size: 18px;
}

/*----- CONTACTO -----*/
footer{
    border: solid;
    border-color: green;
}




@media screen and(min-width: 1280px) {




}