*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color:rgb(32, 32, 32);
}


.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
}



/*------- FLEX NAV ---------*/
  


li:hover{
    opacity: 80%;
    background-color: red;
}

.logo{
    border: solid red;
    width: 120px;
}
.abrir-menu, .cerrar-menu{
    display: none;
    font-size: 4rem !important;
}

header{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ececec;
    border: solid blue;
    max-width: 990px; margin: auto;
}

.nav{
    border: solid yellow;
    background-color: black;

}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    border: solid violet;
    list-style-type: none;
}

.nav > ul > li {
text-align: center;
background-color: blue;
justify-content: center;
padding: 10px 0px;
width: 150px;
/*border-radius: 10px;*/
border: solid maroon;
}

.nav > ul > li > a{
    text-decoration: none;
    color: white;
}

.abrir-menu, .cerrar-menu{
    display: none;
}

/*------- FLEX NAV ---------*/


/*------- GRID ARTICLE ---------*/

main{
    border: solid red;
    
}
h2{
    text-align: center;
    color:white;
    padding:10px 0 0 0;
    border: solid burlywood;
}

.sec-1{grid-area:sec-1}
.sec-2{grid-area:sec-2}

.main-inicio{
    background-color:black;
    border: solid blueviolet;
    max-width: 990px; margin: 0 auto;
}
.main-inicio{
    display: grid;
    grid-template-areas:
    'sec-1 sec-2 sec-2'
    ;
}



.sec-pri{grid-area:sec-pri}
.seccion1{grid-area: seccion1}
.seccion2{grid-area: seccion2}
.seccion3{grid-area: seccion3}
.seccion4{grid-area: seccion4}


.main-inicio > section{
    display: grid;
    grid-template-areas:
    'sec-pri sec-pri'
    'seccion1 seccion2'
    'seccion3 seccion4';
    gap: 20px;
    padding: 20px;
    border: solid green;
}
.main-inicio > section > div {
    background-color: rgba(248, 248, 248, 0.8);
    padding: 20px 20px;
    font-size: 20px;
    display: block;
    justify-content: center;
    border: solid yellow;
}
h3{
    text-align: center;
}
.main-inicio > section > div > img{
    max-width: 100%;
}

/*------- GRID ARTICLE ---------*/


/*------------------------------------ GUIA -----------------------------------*/

.main-guia{
    background-color:black;
    border: solid blueviolet;
    max-width: 990px; margin: 0 auto;
}

.main-guia > div > div > img{
    width: 100%;
}
.main-guia > div{
    color: white;
    display: flex;  
}

/*----------------------- GRID -----------------*/

.img{grid-area:img}
.descripcion{grid-area: descripcion}

.main-guia > div{
    display: grid;
    grid-template-areas:
    'img descripcion descripcion';
    gap: 10px;
    padding: 10px; 
}

/*------------------- GRID ---------------------*/

/*------------------------------------ GUIA -----------------------------------*/


/*---------------------------- CONTACTO ----------------------------*/
/*article{
    padding-top: 20px;
}*/

.main-contacto{
    background-color: rgb(0, 0, 103);
    border: solid blueviolet;
    max-width: 990px; margin: 0 auto;
}

.formulario{
    background-color: grey;
    position: relative;
    width: 400px; margin: 20px auto;
    border: solid;
    padding: 40px;
}
.f-elemento{
    width: 99%;
    margin: 10px 0;
    padding: 0;
    height: 30px;
    font-size: 18px;
}
#cometario{
    width: 99%;
    margin: 10px 0;
    padding: 0;
    font-size: 18px;
}

/*---------------------- CONTACTO ------------------------------*/
footer{
    border: solid;
    border-color: green;
}



@media(max-width: 600px){
    .abrir-menu,.cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    header{
        flex-direction: row-reverse;
    }
    
    .abrir-menu{
        color: #1c1c1c;
    }
    .cerrar-menu{
        color: #ececec;
    }
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem 4rem 2rem 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0, .5);
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: start;
    }
    .nav-list li a{
        color: #ecececec;
    }



    .sec-pri{grid-area:sec-pri}
    .seccion1{grid-area: seccion1}
    .seccion2{grid-area: seccion2}
    .seccion3{grid-area: seccion3}
    .seccion4{grid-area: seccion4}

    .main-inicio{
        background-color:black;
        border: solid blueviolet;
        max-width: 990px; margin: 0 auto;
    }
    .main-inicio{
        display: grid;
        grid-template-areas:
        'sec-2'
        'sec-1'
        ;
    }
    .main-inicio > section{
        display: grid;
        grid-template-areas:
        'sec-pri'
        'seccion1'
        'seccion2'
        'seccion3'
        'seccion4';
        gap: 20px;
        padding: 20px;
        border: solid green;
    }
    .main-inicio > section > div {
        background-color: rgba(248, 248, 248, 0.8);
        padding: 20px 20px;
        font-size: 20px;
        display: block;
        justify-content: center;
        border: solid yellow;
    }



}

@media(min-width: 600px) and (max-width:1023px){
    
    .main-inicio{
        display: grid;
        grid-template-areas:
        'sec-1  sec-2 sec-2 sec-2'
        ;
    }

    .main-inicio > section{
        display: grid;
        grid-template-areas:
        'sec-pri'
        'seccion1'
        'seccion2'
        'seccion3'
        'seccion4';
        gap: 20px;
        padding: 20px;
        border: solid green;
    }


}